{% extends "layout.html"%}

{%block title%}
    Search
{%endblock%}

{% block main %}

    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="search" name="q" placeholder="Type to search" type="text">
    </div>

    <section class="jumbotron text-center">
      <div class = "container">
        <div class="row" id ="products">
            {% for product in products %}
            <div class ="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="media/{{product.image}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ "$%0.2f" | format( product.price / 100) }} </li>
                <li class="list-group-item"><button class="btn btn-secondary btn-sm"> Buy </button></li>
              </ul>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
  </section>

    <button id="button-more" class="btn btn-primary btn-lg" {{disabled}}>
     More
    </button>


  <script>
// when user input "q", will send an url with q and we get an object json "content" to display data of selected products
    let input = document.querySelector('#search');
    let button = document.querySelector('#button-more');
    let content;

    input.addEventListener('change', async function(){
      let response = await fetch('/?q=' + input.value);
      content = await response.json();
      let products = content.products;
      let counter = content.counter;
      let disabled = content.disabled;
      let htmlProduct = "";
      let htmlX="";
        for (let id in products ) {
        products[id].price = (products[id].price / 100).toFixed(2);
        htmlProduct += '<div class ="col-md-4">';
        htmlProduct += '<div class="card mb-4 box-shadow">';
        htmlProduct += '<img class="card-img-top" src="media/'+products[id].image+'" alt="Card image cap">';
        htmlProduct += '<div class="card-body">';
        htmlProduct += '<h5 class="card-title">'+products[id].name+'</h5>';
        htmlProduct += '<p class="card-text">'+products[id].description+'</p>';
        htmlProduct += '</div>';
        htmlProduct += '<ul class="list-group list-group-flush">';
        htmlProduct += '<li class="list-group-item">$'+products[id].price+'</li>';
        htmlProduct += '<li class="list-group-item"><button class="btn btn-secondary btn-sm"> Buy </button></li>';
        htmlProduct += '</ul>';
        htmlProduct += '</div>';
        htmlProduct += '</div>';
      }

      document.querySelector("#products").innerHTML = htmlProduct;

      if (content.disabled)
        {
          document.querySelector("#button-more").setAttribute("disabled", "");
        }
      else {
        document.querySelector("#button-more").removeAttribute("disabled")
      }

    });


    button.addEventListener('click', async function(){
      let counter = 2;
      if (content)
      {
        counter = content.counter;
      }
        let response = await fetch('/?counter='+counter+'&q='+input.value);
        content = await response.json();
        let products = content.products;
        let disabled = content.disabled
        let htmlProduct = "";
        let htmlX="";
          for (let id in products ) {
          products[id].price = (products[id].price / 100).toFixed(2);
          htmlProduct += '<div class ="col-md-4">';
          htmlProduct += '<div class="card mb-4 box-shadow">';
          htmlProduct += '<img class="card-img-top" src="media/'+products[id].image+'" alt="Card image cap">';
          htmlProduct += '<div class="card-body">';
          htmlProduct += '<h5 class="card-title">'+products[id].name+'</h5>';
          htmlProduct += '<p class="card-text">'+products[id].description+'</p>';
          htmlProduct += '</div>';
          htmlProduct += '<ul class="list-group list-group-flush">';
          htmlProduct += '<li class="list-group-item">$'+products[id].price+'</li>';
          htmlProduct += '<li class="list-group-item"><button class="btn btn-secondary btn-sm"> Buy </button></li>';
          htmlProduct += '</ul>';
          htmlProduct += '</div>';
          htmlProduct += '</div>';
          }

        document.querySelector("#products").innerHTML += htmlProduct;
        if (content.disabled)
        {
          document.querySelector("#button-more").setAttribute("disabled", "");
        }
        else {
          document.querySelector("#button-more").removeAttribute("disabled")
        }

      });


  </script>


{% endblock %}



